/* GENERAL STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #f5f5f5;
}

h1 {
    font-size: 250%;
}

a {
    text-decoration: none;
    color: white;
}

section { 
    padding: 3.5rem;
}

article {
    padding: 2rem;
    position: relative;
}
 
article h2 {
    margin-bottom: 1rem;
}

article::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 40%;
    content:"";
    border-top: 1px solid black;
    border-left: 1px solid black;
}

article::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 40%;
    content:"";
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

/* HEADER */

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 6.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: #027353;
    z-index: 1;
    box-shadow: 0 0.1rem 10px gray;
}

header h1 {
    margin-left: 3rem;
    color: #ffffff;
    position: relative;
    padding: 1.2rem;
    text-align: center;
}

header h1::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    content:"";
    border-top: 2px solid black;
    border-left: 2px solid black;
}

header h1::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 100%;
    content: "";
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

/* nav bar and menu button */

#menuButton {
    display: flex;
    font-size: 140%;
    transition: background-color 0.2s linear;
    width: 10rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #ffffff;
}


#menuButton::after {
    position: absolute;
    content: "";
    left: 0;
    height: 70%;
    border-left: 1px solid black;
}

#menuButton:hover {
    background-color: #f5f5f5;
    color: #025949;
    transition: background-color 0.2s linear;
}

nav {
    position: absolute;
    left: 10rem;
    top: 7rem;
    width: 10rem;
    height: 20rem;
    overflow: hidden;
    transition: transform 0.75s ease-out 0.25s;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav ul li {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    text-decoration: none;
}

nav ul li a {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: color 0.2s linear;
    transition: background-color 0.1s linear;
    width: 100%;
    height: 100%;   
}

nav ul li a:hover {
    color: #ffffff;
    transition: color 0.75s linear;
    background-color: #027353;
    transition: background-color 0.1s linear;
}

/* for sliding nav */
#menuButton:hover nav, nav:hover {
    transform: translateX(-10rem);
    transition: transform 0.2s ease-out;
}

@media only screen and (max-width: 560px) {

    header {
        flex-direction: column;
        height: auto;
        padding-top: 1rem;
    }

    header h1 {
        margin: 0;
        margin-bottom: 0.75rem;
    }

    #menuButton {
        width: auto;
        visibility: hidden;
    }
    
    nav {
        visibility: visible;
        position: static;
        width: 120%;
        height: auto;
        margin-right: 22px;
    }

    nav ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav ul li {
        content: 'h';
    }

    nav ul li a {
        padding: 0.5rem;
    }

    #menuButton:hover nav, nav:hover {
        transform: unset;
    }
}

@media only screen and (max-width: 415px) {

    header h1 {
        width: 90%;
    }

    .toHide {
        display: none;
    }

    nav ul li {
        text-indent: -999px;
    }

    .next::after, .previous::after {
        text-indent: 0;
        font-size: 125%;
        font-weight: bold;
    }

    .previous::after {
        content: '<';
    }

    .next::after {
        content: '>';
    }
}



/* ABOUT ME SECTION */

#aboutMe {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 9rem;
    border-radius: 5px;
    background-color: #ffffff;
}

#aboutMe article {
    width: 50%;
}

#aboutMe img {
    width: 30%;
    height: auto;
    margin: 0 5rem;
    border-radius: 5px;
    border: 1px solid black;
}

@media only screen and (max-width: 770px) {

    #aboutMe {
        flex-direction: column-reverse;
    }

    #aboutMe article {
        width: 100%;
    }

    #aboutMe img {
        width: 65%;
        padding-top: 2rem;
    }
  }

@media only screen and (max-width: 560px) {
    #aboutMe {
        padding-top: 11rem;
    }
}

@media only screen and (max-width: 350px) {
    #aboutMe {
        padding-top: 14rem;
    }
}
    
/* MY SKILLS SECTION */

#mySkills {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}  

#mySkills article h2 {
    text-align: center;
}

.skillsContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    padding: 1rem 0;
    border-radius: 5px;
}

.skillsContainer i {
    font-size: 350%;
}

@media only screen and (max-width: 320px) {

    .skillsContainer {
        flex-direction: column;
    }

    .skillsContainer i {
        padding: 0.6rem 0;
    }
}

/* MY PROJECTS SECTION */

#myProjects {
    padding-top: 9rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-color: #ffffff;
}

#myProjects article {
    margin-bottom: 1.5rem;
}

#myProjects ul {
    list-style-type: none;
}

#myProjects ul li {
    padding: 1rem 0;
}

.projectTitle:hover {
    cursor: pointer;
}

.projectTitle {
    border-radius: 5px;
}

#myProjects ul li img {
    border: 1px solid black;
    border-radius: 3px;
    width: 100%;
}

#flora {
    max-height: 0;
    transition: max-height 0.35s linear;
}

#kickboxing {
    max-height: 0;
    transition: max-height 0.35s linear;
}

#floraArrow {
    transition: transform 0.1s ease-in-out;
}

#kickboxingArrow {
    transition: transform 0.1s ease-in-out;
}

@media only screen and (max-width: 560px) {
    #myProjects {
        padding-top: 11rem;
    }
}

@media only screen and (max-width: 350px) {
    #myProjects {
        padding-top: 14rem;
    }
}
/* CONTACT ME SECTION */

#contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
}

#contactsContainer ul {
    list-style-type: none;
    display: flex;
}

#contactsContainer ul li {
    padding: 0 2rem;
}

#contact article {
    width: 45%;
    margin-right: 2rem;
}

#contactsContainer ul li i {
    font-size: 350%;
    color: black;
}

@media only screen and (max-width: 980px) {

    #contact {
        flex-direction: column;
        justify-content: center;
    }

    #contact article {
        width: 100%;
        margin-bottom: 2rem;
        margin-right: 0;
    }
}

@media only screen and (max-width: 315px) {

    #contactsContainer ul {
        flex-direction: column;
    }
}